#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.react-app-logos {
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    &.react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
}

.components-container {
  margin-top: 4rem;
  padding: 2rem 0;

  .component-showcase-header {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #646cff;
  }

  .component-showcase-text {
    color: grey;
    margin-bottom: 2rem;
  }

  .component-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
    justify-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
